
.ds_tab_item_wrapper{
    display: none;
}
.ds_tab_item_wrapper.active{
    display: block;
}
.ds_plugin_columns_item{
    display: none;
}
.ds_plugin_columns_item.active{
    display: block;
}

.ds_tb_top_wrapper{
    display: flex;
    justify-content: space-between;
}
.ds_tb_top_col{
    flex: 1;
    display: none;
}
.ds_tb_top_col.active{
    display: block;
}
.ds_align_left{
    text-align: left;
}
.ds_align_center{
    text-align: center;
}
.ds_align_right{
    text-align: right;
}
